* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color-main);
  font-family: "Raleway", sans-serif;
  background: var(--bg-color-body);
}

button {
  border: none;
}

:root {
  --bg-color-body: #101015;
  --bg-color-main: #f9f9ff0d;
  --text-color-main: #f9f9ff;
  --text-color-green: #5bdb41;
  --size-xs: 4px;
  --size-small: 8px;
  --size-lg: 12px;
  --size-base: 16px;
  --size-medium: 20px;
  --size-big: 24px;
}

.text-color-gray {
  color: var(--text-color-main);
  opacity: 0.5;
}
