* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color-main);
  font-family: "Raleway", sans-serif;
  background: var(--bg-color-body);
}

button {
  border: none;
}

ul {
  list-style: none;
}

:root {
  --bg-color-body: #101015;
  --bg-color-main: #f9f9ff0d;
  --text-color-main: #f9f9ff;
  --text-color-green: #5bdb41;
  --size-xs: 4px;
  --size-small: 8px;
  --size-lg: 12px;
  --size-base: 16px;
  --size-medium: 20px;
  --size-big: 24px;
}

.text-color-gray {
  color: var(--text-color-main);
  opacity: 0.5;
}

.item {
  cursor: pointer;
}

.item__img {
  position: relative;
  display: inline-block;
}

.status-category {
  border-radius: 0 0 6px 6px;
  width: 100%;
}

.status-item {
  border-radius: 6px;
}

.new-status-bg {
  background: linear-gradient(90deg, #3C53E8 0%, #7DB3F6 100%);
}

.popular-status-bg {
  background: linear-gradient(90deg, #EC403A 0%, #E2964E 100%);
}

.sale-status-bg {
  background: linear-gradient(90deg, #EC3A63 0%, #E35F7D 100%);
}